<html>
<head>
    <title>GrassRoots10111</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/grassroots.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script>
        function geoFindMe() {
            document.getElementById("locate").textContent = "Locating, please wait...";
            if (!navigator.geolocation) {
                console.log("Geolocation is not supported by your browser");
            }
            function success(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById("lat").value = latitude;
                document.getElementById("lon").value = longitude;
                document.getElementById("locate").textContent = "You have been located!";
            }

            function error() {
                document.getElementById("locate").textContent = "Unable to find your location";
                //console.log("Unable to retrieve your location");
            }

            navigator.geolocation.getCurrentPosition(success, error);
        }
    </script>
</head>
<body>
<h1>GrassRoots10111 User Portal</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
    {{ form.w3w1.label }}: {{ form.w3w1() }} {{ form.w3w2() }} {{ form.w3w3() }} {% for error in form.w3w1.errors %}{{
    error }}{% endfor %}<br>
    {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
    <button type="button" class="btn btn-default" id="locate" onclick="geoFindMe()">Locate</button>
    {{ form.submit() }}
</form>
</body>
</html>
